<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome – PulmoGuard AI</title>

  <!-- favicon -->
  <link rel="icon" href="../static/images/icon.png" type="image/png">

  <!-- Google Fonts & Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <!-- welcome page CSS -->
  <link rel="stylesheet" href="/static/css/welcome.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
</head>
<body>
  <div class="background">
    <div class="content text-center">
      <h1>Welcome to the PulmoGuard AI</h1>
      <button
        id="get-started-btn"
        class="button-54"
        onclick="window.location.href='/signup';"
      >
        Get Started
      </button>
    </div>
  </div>
</body>
</html>
